#container-fluid{
   border: black;

}
body{
    background: url(../imagenes/fondo3.jpg);
    background-repeat: no-repeat;
    background-size: 100vmax;

}

h1{
    background-color: rgb(61, 9, 248);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
}
.url{
    opacity: 0.8;
    fill-opacity: initial;
}
h2{
    font-size: 50;
    font-style: italic;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background: url(../imagenes/fondo1.jpg);
    margin-top: 10%;
    border-radius: 45%;
    
}
.conteiner-fluid{
    text-align: center;
    block-size: 40px;
    border-bottom: black;
    font: lighter;
    border-color: cornflowerblue;
}
.menus{
    margin-top: 5%;
    text-align: center;
}
#boton{
    margin-top:10%; 
    color: #0099CC; 
      background: transparent; 
      border: 2px solid #0099CC; 
      border-radius: 70px; 
      text-decoration: none;
      text-transform: uppercase; 
      border: none;
      color: black;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 16px;
      -webkit-transition-duration: 0.4s; 
      transition-duration: 0.4s;
      cursor: pointer;
}
form{
    border: 2px dotted black;
    width: 50%;
    margin-left: 25%;
}
.descrip{
    border: 2px dotted black;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
ul{
    text-align-last: center;
}
